<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/global.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <img class="header__logo" src="/assets/images/logo.svg">
        <div class="header__inner">
          <div class="header__date">
            {{ date.toLocaleString("en-US", { dateStyle: "long" }) }}
          </div>
          <div class="header__title">
            Item Shop Update
          </div>
        </div>
      </div>
      <div class="main">
        {% for page in pages %}
          <div class="page">
            <div class="page__name">
              {{ page.name }}
            </div>
            <div class="page__items page__items--style{{ page.style }}">
              {% for item in page.items %}
                <div class="page__item item">
                  <img class="item__image" src="{{ item.imageUrl }}">
                  <div class="item__inner">
                    <div class="item__name">
                      {{ item.name }}
                    </div>
                    <div class="item__price">
                      {% if item.price.currency === "CoreCredit" %}
                        <img class="item__priceCurrency" src="/assets/images/core-credit.png">
                        <div class="item__priceAmount">
                          {{ item.price.amount.toLocaleString("en-US") }}
                        </div>
                      {% elif item.price.currency === "RewardPoints" %}
                        <img class="item__priceCurrency" src="/assets/images/reward-points.png">
                        <div class="item__priceAmount">
                          {{ item.price.amount.toLocaleString("en-US") }}
                        </div>
                      {% else %}
                        <div class="item__priceAmount">
                          {{ item.price.amount.toLocaleString("en-US", { style: "currency", currency: item.price.currency }) }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class="emptyMessage">
            <div class="emptyMessage__headline">
              The store is currently empty
            </div>
            <div class="emptyMessage__message">
              Please come back later
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="footer">
        <div class="footer-left">
          Via @CoreGamesShop (by @0xSeldszar)
        </div>
        <div class="footer-right">
          Generated at: {{ date.toLocaleString("en-US", { dateStyle: "long", timeStyle: "short" }) }}
        </div>
      </div>
    </div>
  </body>
</html>
